<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport"
        content="width=device-width, initial-scale=1"
      />
      <meta name="description" content="" />
      <title>WHSmith Complaints</title>

      <link
        rel="canonical"
        href="https://getbootstrap.com/docs/4.5/examples/album/"
      />

      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
        crossorigin="anonymous"
      />

      <link href="css/album.css" rel="stylesheet" />
    </head>
    <body>
      <%- include('common/header'); -%>

      <main role="main">
        <section class="jumbotron text-center">
          <div class="container">
            <h1>Employee Complaints -- WHSmith</h1>
            <h2>
              This serves as the companies site for employees to report all
              incidents that occur in store or with management, such as thefts
              or pay inconsistencies. Create a complaint now or explore
              pre-existing ones.
            </h2>
          </div>
        </section>